!!!
%html
  %head
    %title= @title
    %link{:href => "/application.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :title => "no title", :charset => "utf-8"}
    %script{:src => "/application.js", :type => "text/javascript"}
  %body
    #page{:class => @page_class.join(' ')}
      #header
        %h1#title= @title
        %ul.nav.left
          %li
            %a{ :href => "/#{GitWiki.homepage}" } Home
          %li
            %a{ :href => "/pages" } All pages
        %ul.nav.right
          - if @page
            %li.edit_page
              %a{:href => "/#{@page}/edit"} Edit this page

      #content= yield
      #footer